<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModBot.Webclient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"  type="text/css"  />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>


        <nav>
            @ViewBag.Test
            <br />
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Start", "Home")'">Home</button>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Logout", "Authentication")'">Logout</button>
                <br />
            }

            @if ((Context.Request.Cookies["ServerIsSelected"]) == "true")
            {

                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ServerList", "Authentication")'">Servers</button>
                <br />
            }
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>