<!DOCTYPE html>
<style>
    #img {
        position: relative;
        left: 17%;
        top: -5%;
    }
    #Username{
        position: relative;
        color: white;
        font-size: 19px;
        left: 27%;
        top: 1%;
    }
    #ButtonAYYY {
        position: relative;
        margin-top: 5px;
        height: 35px;
        width: 150px;
        left: 4px;
        line-height: 20px;
        color: #fff;
        background-color: #36393F;
        font-size: 15px;
        letter-spacing: 0.05em;
        border-radius: 5px;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModBot.Webclient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"  type="text/css"  />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>

        <div class="navbarLeft">
                <input type="image" src="~/images/Icon.png" name="Icon" width="100" height="100" alt="Home" id="img" onclick="location.href='@Url.Action("Start", "Home")'" />
                @if (User.Identity.IsAuthenticated)
                {
                    <p id="Username"> @User.Identity.Name</p>
                    <button id="ButtonAYYY" class="btn"  onclick="location.href='@Url.Action("Logout", "Authentication")'">Logout</button>
                    <br />
                    <button class="btn" id="ButtonAYYY" onclick="location.href='@Url.Action("ServerList", "Authentication")'">Servers</button>

                }

                @if ((Context.Request.Cookies["ServerIsSelected"]) == "true")
                {

                    <br />
                    <button id="ButtonAYYY" class="btn" onclick="location.href='@Url.Action("Settings", "Settings")'">Settings</button>

                }
            </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
    

</body>
</html>