@model IEnumerable<ModBot.WebClient.Models.BannedWordModel>

@{
    ViewData["Title"] = "GetAllBannedWord";
}
<style>
    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-item-text {
        border: none;
        border-radius: 1px;
    }

    select {
        width: 100%;
        padding: 16px 25px;
        border: none;
        border-radius: 5px;
        background-color: dimgrey;
    }
    tr{
        color: white;
        
    }

</style>

<h1>GetAllBannedWord</h1>

<table class="table">
    <thead>
        
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punishment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="dropdown-item-text" style="width:200px;" background-color="Black">
                        <select>
                            <option value="0">Select word:</option>
                            
                            <option value="1">@Html.DisplayFor(modelItem => item.Word)</option>
                            
                        </select>
                    </div> 
                </td>
                <td>
                    <div class="dropdown-item-text" style="width:200px" background-color="Black">
                        <select>
                            <option>Select Strikes:</option>
                            <option>@Html.DisplayFor(modelItem => item.Strikes)</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="dropdown-item-text" style="width:200px;" background-color="Black">
                        <select>
                            <option value="0">Select Punishment:</option>
                            <option value="1">@Html.DisplayFor(modelItem => item.Punishment)</option>
                        </select>
                    </div>           
                </td>
               
            </tr>        
        }
    </tbody>
</table>
