@model IEnumerable<ModBot.WebClient.Models.BannedWordModel>

@{
    ViewData["Title"] = "GetAllBannedWord";
}

<h1>GetAllBannedWord</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>       
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punishment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {  
           

            <tr>
                <td>
                    <div class="dropdown-item-text" style="width:200px;" background-color="Black">
                        <select>
                            <option value="0">Select word:</option>
                            <option value="1">@Html.DisplayFor(modelItem => item.Word)</option>
                        </select>
                    </div>
                    
                </td>
                <td>
                    <div class="dropdown-item-text" style="width:200px" background-color="Black">
                        <select>
                            <option value="0">Select Strikes:</option>
                            <option value="1">@Html.DisplayFor(modelItem => item.Strikes)</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="dropdown-item-text" style="width:200px;" background-color="Black">
                        <select>
                            <option value="0">Select Punishment:</option>
                            <option value="1">@Html.DisplayFor(modelItem => item.Punishment)</option>
                        </select>
                    </div>           
                </td>
                <td>
                    <p style="color:White">@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })|
                                           @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })|
                                           @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</p>
                </td>
            </tr>        
        }
    </tbody>
</table>
