@model IEnumerable<ModBot.WebClient.Models.BannedWordModel>

@{
    ViewData["Title"] = "GetAllBannedWord";
}

<h1>GetAllBannedWord</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punishment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {  
            <tr>
                <td>
                    <p style="color:White">  @Html.DisplayFor(modelItem => item.Word) </p>
                </td>
                <td>
                    <p style="color:White">  @Html.DisplayFor(modelItem => item.Strikes)</p>
                </td>
                <td>
                    <p style="color:White">@Html.DisplayFor(modelItem => item.Punishment)</p></td>
                <td>
                    <p style="color:White">@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })|
                                           @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })|
                                           @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</p>
                </td>
            </tr>
        
        }

    </tbody>
</table>
