@model ModBot.Domain.DTO.SettingsDTO

@{
    ViewData["Title"] = "Settings";
}


<style>


    #HeaderText {
        background-color: #36393F;
        color: white;
        position: relative;
        top: 50px;
        text-align: center;
        font-size: 65px;
    }

    * {
        font-family: "Consolas";
        color: white;
    }

    input[type=text] {
        background-color: #36393F;
    }



    input[type=text], select {
        height: 50px;
        width: 130px;
        background-color: #36393F;
        padding: 12px 20px;
        border-radius: 9px;
        box-sizing: border-box;
    }

    input[type=number], select {
        height: 50px;
        width: 130px;
        background-color: #36393F;
        padding: 12px 20px;
        border-radius: 9px;
        box-sizing: border-box;
    }



    #startPage {
        background-color: #2F3136;
        height: 80vh;
        width: 1000px;
        border-radius: 1em;
        padding: 1em;
        text-align: center;
        font-size: 25px;
        align-items: center;
        position: relative;
        top: 100px;
        left: 45%;
        margin-right: -45%;
        transform: translate(-40%);
    }

    #buttonSettings {
        position: relative;
        background-color: #44877f;
        border: none;
        color: white;
        border-radius: 1em;
        padding: 12px;
        display: inline-block;
        font-size: 16px;
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
    }

    #buttonadd {
        position: relative;
        background-color: #44877f;
        border: none;
        color: white;
        border-radius: 1em;
        height: 50px;
        width: 200px;
        display: inline-block;
        font-size: 16px;
        float: left;
    }

    #buttonRemove {
        position: relative;
        background-color: #824444;
        border: none;
        color: white;
        border-radius: 1em;
        height: 50px;
        width: 97px;
        display: inline-block;
        font-size: 16px;
    }
    #buttonUpdate {
        position: relative;
        background-color: #53538C;
        border: none;
        color: white;
        border-radius: 1em;
        height: 50px;
        width: 97px;
        display: inline-block;
        font-size: 16px;
        margin-right: 5px;
    }

    #row1 {
        float: left;
        margin-left: 20px;
    }

    #row1text {
        width: 200px;
        text-align: left;
        margin-bottom: 20px;
    }

    #row2text {
        width: 300px;
        text-align: right;
        margin-bottom: 20px;
    }

    #row2 {
        float: right;
        margin-right: 20px;
        margin-left: 100px;
    }

    #row2item1
    {
        text-align: right;
        margin-bottom: 20px;
    }

    #row2item2 {
        text-align: right;
    }
    
    row2item3 {
        text-align: right;
    }

    #addprofanity {
        top: 30%;
        height: 300px;
        width: 100%;
    }

    #addText {
        height: 50px;
        padding-top: 40px;
        
    }

    #addInput {
        top: 50%;
        height: 50px;
        margin-top: 30px;
    }

    #textProfanity {
        float: left;
        margin-right: 10px;
        margin-left: 20px;
        width: 343px;
    }

    #textStrikes {
        float: left;
        margin-right: 10px;
        width: 130px;
    }

    #textPunishment {
        float: left;
        margin-right: 10px;
        width: 200px;
    }

    #inputProfanity {
        float: left;
        margin-left: 20px;
        width: 343px;
        margin-right: 10px;
    }

    #inputStrikes {
        float: left;
        margin-right: 10px;
    }

    #inputPunishment {
        float: left;
        margin-right: 10px;
        width: 200px;
    }

    #failure {
        color: red;
    }

    #success {
        color: green;
    }

    #list {
        position: relative;
        top: 60px;
    }
    #space
    {
        height: 30px;
        width: 100%;
    }
    #listProfanity {
        float: left;
        margin-left: 20px;
        width: 343px;
        margin-right: 10px;
    }
    #listStrikes {
        float: left;
        margin-right: 10px;
    }
    #listPunishment {
        float: left;
        margin-right: 10px;
        width: 200px;
    }


</style>


<div id="HeaderText">
    <label>Settings</label>
</div>

<div id="startPage">
    <div id="saveText">
        <p id="success">@ViewBag.successResponse</p>
        <p id="failure">@ViewBag.failureResponse</p>
    </div>
    <div id="content">
        <form action="savesettings" method="post">
            <div id="row1">
                <label id="row1text" for="Mute">Mute Level</label>

                <input id="inputbox" name="timeoutlevel" type="text" value="@Model.TimeOutLevel" min="0" required>
                <br>
                <label id="row1text" for="Kick">Kick Level</label>

                <input id="inputbox" name="kicklevel" type="text" value="@Model.KickLevel" min="0" required>
                <br>
                <label id="row1text" for="Ban">Ban Level</label>
                <input id="inputbox" name="banlevel" type="text" value="@Model.BanLevel" min="0" required>
            </div>
            <div id="row2">
                <input id="buttonSettings" class="button" type="submit" value="Save Settings">
                <br>
                <label id="row2text" for="Spam">Spam Mute Timer</label>

                <input type="text" name="spammutetime" id="Spam" value="@Model.SpamMuteTime" min="0" required>
                <br>
                <label id="row2text" for="Strike">Strike Mute Timer</label>

                <input type="text" name="strikemutetime" id="Strike" value="@Model.StrikeMuteTime" min="0" required>
            </div>
        </form>


        <div id="addprofanity">
            <form action="addprofanity" method="post">
                <table>
                    <tr id="space"></tr>
                    <tr id="addText">
                        <td>
                            <label id="textProfanity">Profanity</label>
                        </td>
                        <td>
                            <label id="textStrikes">Strikes</label>
                        </td>
                        <td>
                            <label id="textPunishment">Punishment</label>
                        </td>
                    </tr>
                    <tr id="addInput">
                        <td>
                            <input id="inputProfanity" value="" name="profanity" required type="text" size="22">
                        </td>
                        <td>
                            <input id="inputStrikes" value="" name="strikes" required type="number" min="0" size="10">
                        </td>
                        <td>
                            <select id="inputPunishment" name="punishment" required>
                                <option value="None">None</option>
                                <option value="Mute">Mute</option>
                                <option value="Kick">Kick</option>
                                <option value="Ban">Ban</option>
                            </select>
                        </td>
                        <td>
                            <input input="add" id="buttonadd" value="Add" type="submit" size="10">
                        </td>
                    </tr>
                    <tr id="space"></tr>
                </table>
            </form>
        </div>


        <div id="list">

            @for (var rotation = 0; rotation < Model.BannedWordList.Count; rotation++)
            {
                var item = Model.BannedWordList[rotation];
                <form action="updateprofanity" method="post">
                    <table>
                        <tbody>
                            <tr id="listRow">
                                <td>
                                    <input id="listProfanity" name="profanity" type="text" value="@item.Profanity" required readonly>
                                </td>
                                <td>
                                    <input id="listStrikes" name="strikes" type="number" min="0" value="@item.Strikes" required>
                                </td>
                                <td>
                                    <select id="listPunishment" name="punishment" required>
                                        <option hidden selected value="@item.Punishment">@item.Punishment</option>
                                        <option value="None">None</option>
                                        <option value="Mute">Mute</option>
                                        <option value="Kick">Kick</option>
                                        <option value="Ban">Ban</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="buttonUpdate" name="submittype" value="update" type="submit">
                                </td>
                                <td>
                                    <input id="buttonRemove" name="submittype" value="remove" type="submit">
                                </td>
                            </tr>
                            <tr style="height: 10px;"></tr>
                        </tbody>
                    </table>
                </form>
            }

        </div>
    </div>
</div>

