@model ModBot.Domain.DTO.SettingsDTO

@{
    ViewData["Title"] = "Settings";
}
<style>

</style>

<table class="table">

    <tr>
        <th>
            <h1>Settings</h1>
        </th>
    </tr>
    <tr>
        <th>
            <button value="Save Settings"></button>
        </th>
    </tr>
    <tr>
        <th>
            Mute Level<input value="@Model.TimeOutLevel">
        </th>
        <th>
            Bot Prefix <input value="!">
        </th>
    </tr>
    <tr>
        <th>
            Kick Level<input value="@Model.KickLevel">
        </th>
        <th>
            Spam Mute Timer <input value="@Model.SpamMuteTime">
        </th>
    </tr>
    <tr>
        <th>
            Ban Level<input value="@Model.BanLevel">
        </th>
        <th>
            Strike Mute Timer <input value="@Model.StrikeMuteTime">
        </th>
    </tr>

</table>
<table>
    <tbody>
        @foreach (var item in Model.BannedWordList) {
        <tr>
            <td>
                <input value="@item.Profanity">
            </td>
            <td>
                <input value="@item.Strikes">
            </td>
            <td>
                <input value="@item.Punishment">
            </td>
        </tr>
}
    </tbody>
</table>
