@model ModBot.Domain.DTO.SettingsDTO

@{
    ViewData["Title"] = "Settings";
}
<style>
    #select
    {
        height: 30px;
    }
    h2, label {
        color: white;
       
    }
    h1 {
        background-color: #2F3136;
        color:white;
    }
    * {
        font-family: "Consolas";
    }
    
    input[type=text], select {
        height: 50px;
        width: 130px;
        background-color: #36393F;
        padding: 12px 20px;
        border-radius: 9px;
        box-sizing: border-box;
    }
    

    #startPage {
        background-color: #2F3136;
        height: 800px;
        width: 1000px;
        border-radius: 1em;
        padding: 1em;
        text-align: center;
        font-size: 25px;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 45%;
        margin-right: -45%;
        transform: translate(-40%, -50%)
    }
    .button {
        background-color: #44877f;
        border: none;
        color: white;
        border-radius: 1em;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button2 {
        background-color: #824444;
        border: none;
        color: white;
        border-radius: 1em;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    #row1 
    {
        float: left;
        margin-left: 20px;
    }
    #row1text
    {
        width: 200px;
        text-align: left;
    }
    #row2
    {
        float: right;
    }
    #addprofanity
    {
        top: 800px;
    }

</style>


<div id="HeaderText">
    <h1>Settings</h1>
</div>

<div id="startPage">

    <div id="row1">
        <label id="row1text" for="Mute">Mute Level</label>

        <input id="inputbox" type="text" value="@Model.TimeOutLevel">
        <br>
        <label id="row1text" for="Kick">Kick Level</label>

        <input id="inputbox" type="text" value="@Model.KickLevel">
        <br>
        <label id="row1text" for="Ban">Ban Level</label>

        <input id="inputbox" type="text" value="@Model.BanLevel">
    </div>
    <div id="row2">
        <div id="row2item1">
            <button class="button" value="Save Settings">Save Settings</button>
        </div>
        <div id="row2item2">
            <label for="Spam">Spam Mute Timer</label>
            <input type="text" id="Spam" value="@Model.SpamMuteTime">
        </div>
        <div id="row2item3">
            <label for="Strike">Strike Mute Timer</label>
            <input type="text" id="Strike" value="@Model.StrikeMuteTime">
        </div>
    </div>

    <div id="addprofanity">
        <div>
            <h2 id="textProfanity">Profanity</h2>
        
            <h2 id="textStrikes">Strikes</h2>
        
            <h2 id="textPunishment">Punishment</h2>
        </div>
        <div>
        
            <form>
                <input id="inputProfanity" value="" type="text" size="22">
        
                <input id="inputStrikes" value="" type="text" size="10">
        
                <select id="inputPunishment" size="15" id="select">
                    <option value="None">None</option>
                    <option value="Mute">Mute</option>
                    <option value="Kick">Kick</option>
                    <option value="Ban">Ban</option>
                </select>
        
                <input input="add" class="button" value="Add" type="button" size="10">
            </form>
        </div>
    </div>


    <table id="list">
        <tbody>
            @foreach (var item in Model.BannedWordList)
            {
                <tr>
                    <td>
                        <input id="listProfanity" value="@item.Profanity">
                    </td>
                    <td>
                        <input id="listStrikes" value="@item.Strikes">
                    </td>
                    <td>
                        <input id="listPunishment" value="@item.Punishment">
                    </td>
                    <th>
                        <input id="remove" value="Remove" type="button" size="15">
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

